@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');






*{
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Inter', sans-serif;
    margin-left: 0;
    margin-right: o;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 8px;
    width: 271px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    justify-content: space-between;
    
    
}
.container div{
    text-align: center;
}

h4{
    color: white;
    margin-left: 5%;
}
i,p{
    color: #E9D7FE;
    

}


.features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
   
}
.dis{
    padding: 10px;
}
img{
    width: 239px;
    height:136px ;
    border-radius: 8px;
    position: relative;
    
}

span{
    margin-right: 19%;
   
}
#last_s{
    color: #E9D7FE;
}
#last_p{
    color: white;
    
    
    
}
#circle{
    font-size: 48px;
    color: #F4EBFF;
    position: absolute;
  right: 91%;
   top: 32%;
}