

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');  

*{
    box-sizing: border-box;
    
    
}
body{
    margin: 0;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.grid-container{
    display: grid;
    /* border: 1px solid #EAECF0; */
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    height:100vh ;
    padding: 20px;
    gap: 20px;
    margin-left: 10%;

}
.grid-container div{
    /* text-align: center; */
}

.header{
    text-align: center;
    margin-bottom: 5%;
}
h6{
    border-radius:40%;
    background-color:#F9F5FF;
}
p{
    color: #475467;
    

    
}
#p_11{
    color: #6941C6;
}
#p_1{
    color: #6941C6;
    margin-left: 50%;
   
    
}
#p_2{
    color: #475467;
}
i{
    color: #7F56D9;
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 5px;
}
button{
    border-radius: 8px;
   padding: 12px, 20px, 12px, 20px;
   width: 320px;
   height: 48px;
   margin-top: 5px;
   
}
#first_b{
    background-color:  #7F56D9;
    color: white;
    border: 1px #D0D5DD;
    border: none;
   
}
#second_b{
   
    color: #344054;
   background-color: white;
   border:1px solid #D0D5DD;
    
}

#first_cell,
#second_cell,
#third_cell 
{
    border: 1px solid #D0D5DD;
    border-radius: 16px;
    width: 100%;
    height: 90%;
   
    
    
}

#all

{
    margin-left: 25px;
    margin-bottom: 20px;
    margin-right: 25px;
    
}
#all1{
    margin-left: 25px;
    margin-bottom: 18px;
    margin-right: 25px;
}

#flex{
    display: flex;
    flex-direction: row;
    
}
hr{
    margin: 0;
    border: 1px solid #D0D5DD;
}
/* #money{
    margin-top: 0;
} */
#month{
    margin-top: 11%;
    margin-left: 1%;
}